@model RatingPage.Models.Rating

@{
    ViewData["Title"] = "Details";
}

<div class="card mt-3">
    <h4 class="card-header bg-primary">Details</h4>
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @for(int i=0;i<Model.Rate;i++)
            {
                <label>★</label>
            }
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>